<!DOCTYPE html>
<html>
  <head>
    <title>OdinKittens</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flash" %>
      <% if flash.any? %>
        <% flash.each do |type, msg| %>
          <f><%= "#{type.capitalize}: #{msg}" %></f>
        <% end %>
      <% end %>
    <div>
    <%= link_to "Kitten Index", kittens_path %> | <%= link_to "Create a Kitten ^^", new_kitten_path %>
    <%= yield %>
  </body>
</html>
